@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-gradient: linear-gradient(to right, #111827, #1f2937, #111827);
  --text-color-primary: #f3f4f6;
  --text-color-secondary: #d1d5db;
  --font-family-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  background: var(--background-gradient);
  color: var(--text-color-primary);
  align-items: center;
  justify-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 400px;
  text-align: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--text-color-secondary);
}
